body {
  font-family: sans-serif, Helvetica, Arial;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center; /* Center-align the header */
  margin-top: 20px; /* Add top margin for spacing */
  margin-bottom: 20px; /* Add bottom margin for spacing */
  color: black; /* Optional: color for the text */
  font-size: 24px; /* Optional: adjust the font size as needed */
}

.parent-container {
  margin: 20px;
  padding: 15px;
  background-color: #f9f9f9; /* Light background for the container */
  border-radius: 10px; /* Rounded corners */
  border: 1px solid #ddd; /* Subtle border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  max-width: 1000px; /* Adjust maximum width as needed */
  margin: auto; /* Center the container */
}

.table-section {
  /*margin-top: 20px;*/
  margin: 20px, auto;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.table-section-header {
  background-color: #004085;
  color: white;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  text-align: center;
}

.dicom-table-row {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
}

.dicom-table-row:nth-child(even) {
  background-color: #f7f7f7;
}

.dicom-table-cell {
  flex: 1 1 50%; /* Flex-grow, Flex-shrink, Flex-basis */
  padding: 8px;
  text-align: left;
  box-sizing: border-box;
  font-size: 14px;
}

.dicom-table-cell:first-child {
  border-right: 2px solid #ccc; /* Border to separate tag and value */
}

/* Responsive table layout for smaller screens */
@media (max-width: 400px) {
  .dicom-table-row {
    flex-basis: 100%;
  }
}

.file-input-container {
  text-align: center; /* Center-align the file input */
  margin-bottom: 15px; /* Spacing between input and table-selection */
}

#dicomImage {
  width: 100%; /* Full width within the container */
  /*width: 512px;*/
  height: 512px; /* Fixed height or as per your requirement */
  background-color: #eaeaea; /* Placeholder background */
  margin-bottom: 5px; /* Spacing between image display and table sections */
  margin-top: 10px;
  border-radius: 5px; /* Rounded corners for the image container */
  /* Additional styles as needed */
}

#pixelDataInsights {
  padding: 10px;
  background-color: #f2f2f2; /* Light grey background for contrast */
  border-radius: 5px;
  margin: 10px 0;
}

.insight {
  margin: 5px 0;
  color: #333;
  font-size: 14px;
}
